/* Set up Variable Colors */
$fsBlack: #2a2a2a; 
$fsGrey: #aaa; 
$fsLineGrey: #ddd;
$fsLightGrey: #eee;
$fsGreen: #a8d164; 
$fsRed: #ea3830; 
$fsOrange: #ee7f21;
.fsRed{
	color: $fsRed;
}

.fsGreen{
	color: $fsGreen;
}

.fsOrange{
	color: $fsOrange;
} 
   *, *:before, *:after{-moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box !important; 
 }



@import "includes/reset";
@import "includes/misc";
@import "includes/firebase";
@import "includes/common";
@import "includes/responsive";
@import "includes/forms";
@import "includes/header";
@import "includes/pageHome";
@import "includes/profile";
@import "includes/pageBook";
@import "includes/pagePlace";
@import "includes/bookLists";
@import "includes/bookEdit";
@import "includes/placeList";
@import "includes/collections";
@import "includes/dialogs";
@import "includes/admin";

@import "includes/signup";
@import "includes/mapbox";


 