<div class="fullWidth homeFeat featCollection">
	<div class="theContainerHead">
		<div class="titleBlock group">
			<h2 class="bookTitle">Submit A Book</h2>
			<h5 class="bookSubtitle">Add a book to fictionset.in for others to enjoy.</h5>
		</div>
 	</div>
</div>
  
<div class="theContainer pageEdit">
<div class=" contentWrap" >
	<div class="titleBlock group">
		<div class="coverImg"><img class="featImg" ng-if="amazonData.LargeImage.URL" src="{{amazonData.LargeImage.URL}}"/></div>
		<h2 class="bookTitle">{{amazonData.ItemAttributes.Title}}</h2>
		<h5 class="bookSubtitle">by {{amazonData.ItemAttributes.Author}}</h5>
	</div>
	
	<div class="saving" ng-show="isSaving"  style="width: 100%; text-align: center; padding: 1em; background: #f5f5f5;border-radius: 4px; margin: 1em 0;">
		Saving...
	</div>
	<div class="infoBox error marginTop" ng-show="errorPlaces">
		<h4 class="error">No Places</h4>
		<p>You need to add at least one place to this book before submitting.</p>
	</div>
<div class="theContent columnWrap" >
	<div class="columnLeft column column50">	
		<div class="contentSection">
			<h3 class="iconLabel icon-marker">Places</h3>
			<div class="placeNoContent placeList listWide" ng-show="!tempPlaces.length">
  				<div class="group aPlace">
 			  		<div class="mapThumb placeThumb" style="background: #eee url(../imgs/blankPlaceMap.jpg) 0px 0px no-repeat;"></div>
 			  		<div class="placeContent">
 			  			<div class="placeTitle">Add one or more places</div>
 			  			<span class="subTitle">Be specific, unless the setting is a region or country.
 			  			<br><a href=""  ng-click="clickToOpenGuidelines()"><span class="icon-eye" style="text-decoration: none;  margin-right: 2px;"></span> View guidelines</a></span>
					</div>
 				</div>
 			</div><!-- ends no content -->

<!--  			<p class="subTitle">Add at least one place.  <br><span class="icon-eye" style="text-decoration: none; color: #222222; margin-right: 2px;"></span></p> -->
<!--  			<h4>Search a location to add:</h4> -->
 			<div class="searchWrap formField group">
				<angucomplete-alt id="placesearch2"
	              placeholder="Search for places to add..."
	              pause="300"
	              selected-object="addBookLocation"
	              remote-url="http://api.geonames.org/searchJSON?maxRows=6&username=thirdman&q="
	              remote-url-data-field="geonames"
	              title-field="name,countryName"
	              description-field="fclName"
	              clear-selected = "yes"
	              input-class="form-control form-control-small"/>
				 </angucomplete-alt>
  			</div><!-- ends search wrap -->

 			<div ng-repeat="place in tempPlaces" class="placeList listWide" >
 			  		<div class="group aPlace">
 			  			<div class="mapThumb placeThumb" style="background-image: url(http://api.tiles.mapbox.com/v3/thirdman.j1o1gjim/{{place.lng}},{{place.lat}},4/90x90.png)"></div>
 			  			<div class="placeContent">
	 			  			<div ng-if="place.name" class="placeTitle">
			 			  		<a ng-href="#/place/{{place.geonameId}}">{{place.name}}<span ng-if="(place.name != place.toponymName) &&( place.name != place.countryName)"> ({{place.toponymName}})</span></a>
			 				</div>
			 			  <span ng-if="place.adminName1" class="subTitle">{{place.adminName1}}</span>
			 			  <span class="subTitle" ng-if="(place.adminName1) && (place.name != place.countryName)">, </span>
			 			  <span class="subTitle" ng-if="place.name != place.countryName"><a ng-href="#/place/{{place.countryId}}">{{place.countryName}}</a></span>
						</div><!-- ends place content -->
	 			  
	 			  		<!-- <label ng-if="place.name"><a href="#/place/{{place.geonameId}}">{{place.name}}<span ng-if="place.name != place.toponymName"> ({{place.toponymName}})</span></a></label><label ng-if="place.adminName1">, <a href="#/place/{{place.adminName1}}">{{place.adminName1}}</a></label><label ng-if="place.name != place.countryName">, <a href="#/place/{{place.countryName}}">{{place.countryName}}</a></label> -->
 	 			<button ng-click="removePlace(place)" class="btnDelete">Delete</button>

 				 	</div>
				</div>
 			
		</div>
	</div><!-- column left -->
	
	<div class="columnRight column column50">		
  		 <div class="contentSection">
	  		 <h3 class="iconLabel icon-tag-1">Tags</h3>
	  		 <p  class="subTitle">Optional additional categories (eg. 'Historical', '1600s', 'Europe', 'World War 1') </p>
				<div ng-controller="TagCtrl" class="formField group">
				<tags-input ng-model="tempTags">
				  <auto-complete source="loadTags($query)" min-length="1" ></auto-complete>
				</tags-input>
				</div>
  		 </div>

		<div class="contentSection ">
			<h3 class="iconLabel icon-book-open">Excerpts</h3>
			<p class="subTitle">Optional related excerts from the book.</p>
  			<div class="exceprtList listWide">
 			  	<div ng-repeat="tempExcerpt in tempExcerpts" class="group aPlace" >
 	 				<q>{{tempExcerpt.excerpt}}</q>
 	 				<p class="subTitle">{{tempExcerpt.reference}}</p>
 	 				<button ng-click="removeExcerpt(tempExcerpt)" class="btnDelete">Delete</button>
 	 			</div>
  			</div>
  			<form ng-submit="addExcerpt()">
  			  	<div class="formField group">
  			  		<label>Excerpt:</label> 
  			  		<textarea  type="text" ng-model="newExcerpt.excerpt" placeholder="Text excerpt"  class="inputLarge"  /></textarea>
  			  		<input type="text" ng-model="newExcerpt.reference" placeholder="referece (optional)"  class="inputStd" />
  			  		<button class="btn" type="submit" ng-click="addExcerpt()">Add Excerpt</button>
  			  	</div>	      
			</form>
		</div>

   		<div class="dataSection contentSection additonalComment">
   		<h3 class="iconLabel icon-bubble">Additional Comment</h3>
   		<p class="subTitle">Optional personal comment about this book. (This will be displayed publicly)</p>
		 <form name="userCommentForm" >
  			  <div class="formField group">
			      <textarea  type="text"  ng-model="userComment" name="userCommentArea" placeholder="Your comment"  class="inputLarge" ng-maxlength="350" maxlength="350"  /></textarea>
			      
				 <p class="wordCount" ng-class="(userComment.length >= 300) ? 'wordCountWarning' : 'wordCountOk'">Remaining: {{350 - userComment.length}} <span class="error" ng-show="userCommentForm.userCommentArea.$error.maxlength">
			         Max Limit reached!
			     </span>
			     </p>
			 
			  </div>	      
  	      </form>
  		  </div><!-- ends dataSection.additionalComment -->
 
 			  
  			  
  
		  </div><!-- columnright -->
</div><!-- the content -->
<div class="theContent columnWrap borderTop paddingTop">
	<div class="columnLeft column">	
		<h4 class="iconLabel icon-book-alt2">Book info</h4>
		<div class="bookInfo">	
	 		<p><label>Title</label>{{amazonData.ItemAttributes.Title}}</p>
			<p><label>Author:</label>{{amazonData.ItemAttributes.Author}}</p>
			<p><label>PublicationDate:</label>{{amazonData.ItemAttributes.PublicationDate}}</p>
			<p><label>Publisher: </label>{{amazonData.ItemAttributes.Publisher}}</p>
			<p><label>AMAZON ID: </label>{{amazonid}}</p>
			<p><label>EAN: </label>{{amazonData.ItemAttributes.EAN}}</p>
			<p><label>ISBN: </label>{{amazonData.ItemAttributes.ISBN}}</p>
 	<!--
			<p ng-if="amazonData.EditorialReviews.EditorialReview[0]" ng-bind-html-unsafe="amazonData.EditorialReviews.EditorialReview[0].Content"></p>
	
			<br><p>{{amazonData.EditorialReviews.EditorialReview[0].Source}}</p>
	
			<p  ng-if="amazonData.EditorialReviews" class="subTitle">Review</p>
			<span  ng-if="amazonData.EditorialReviews.EditorialReview[1]" ng-bind-html="amazonData.EditorialReviews.EditorialReview[1].Content"></span>
			<p  ng-if="amazonData.EditorialReviews.EditorialReview[1]"><br>{{amazonData.EditorialReviews.EditorialReview[1].Source}}</p>
			<p>Description:</p>
			<span ng-bind-html="amazonData.EditorialReviews.EditorialReview[0].Content | to_trusted "></span>
			<textarea  ng-if="amazonData.EditorialReviews.EditorialReview[0]" class="inputStd" ></textarea>
	
	-->
		</div>
	</div>
	<div class="columnRight column">
		 <a href="" ng-click="editorEnabled=!editorEnabled" ng-hide="editorEnabled" class="btn fsBtn  editBtn inline floatRight">Edit</a>
		 <a href="" ng-click="editorEnabled=!editorEnabled" ng-show="editorEnabled" class="btn fsBtn  editBtn inline floatRight">Done</a>
		<h4 class="iconLabel icon-book-alt2">Book Description </h4>
		<hr>
		<div class="bookDescription" ng-hide="editorEnabled">
				{{theDesc}}
		</div>
		<div class="formField group" ng-show="editorEnabled">
		 	<textarea ng-model="theDesc"  class="inputLarge descriptionInput" ng-show="true" ></textarea>
		</div>
	</div>
</div><!-- the content2 -->

<div class="contentWrap columnWrap" >
		<div class="infoBox error marginTop marginBottom" ng-show="errorPlaces">
			<h4 class="error">Oops, no places found</h4>
			<p>You need to add at least one place to this book before submitting.</p>
		</div>


	<div class="fullWidth darkFeat">
		<div class="theContainerHead">
	  		<button ng-click="saveBook()" class="btn actionBtn">Submit Book</button>
		</div>
	</div>

</div>	
		

</div><!-- ends theContent-->

</div>