	<div class="fullWidth pageFeat">
		<div class="theContainerHead">
		<h2 class="pageTitle">Add A Book</h2>
		</div>
	</div>
<div class="theContainer pageEdit">
<div class="contentWrap" >
 
 
<div class="theContent columnWrap contentText" >
	<div class="columnLeft column">	
 	<p>FictionSet.in depends on your contibutions!</p>
	<h3>What books should I add?</h3>
	<p><em><strong>tl;dr:</strong> Books that you'd recommend to your friend, and books that have a place you could visit.</em></p>
	<p>Add books that capture some of the 'something' of a place - Everyone will have a different idea of what that is, and that's ok. For some people a few lines is enough, and for others it's whole passages.</p>
 	
	<h3>What places should I tag?</h3>
	<p>Basically, can you visit it, or the remains of it? The system is smart enough to figure out the country of any location, so unless the setting is general then specific locations are better. 'Tuscany' is better than 'Italy', and 'Florence' is even better again. Also, local names ('Firenze') should also work.</p>
	<ul class="list" style="margin-left:0;">
	<li><strong>YES:</strong> Real places. Ideally as specific as possible. (It's ok to add multiple places)</li>
	<li><strong>YES:</strong> Historical places that still exist, but under a different name (eg. Tokyo in Japan was known as Edo</li>
	<li><strong>YES:</strong> If there's no specific location, but a book is set in a general area, that's ok too. </li>
	<li><strong>YES:</strong> Fictional places based on real places. This means that if the name of a village was changed but it's clear what the real village is (or the author has said), then it's worthy of adding. (Common sense should win here - you shouldn't have to be a super sleuth to figure it out). </li>
	<li><strong>NO:</strong> Made up places. Hogwarts is not a valid place, and you can't add it.</li>
	</ul>

	<br>
	<hr>
	<div class="divider"></div>
	<br>
	<p>Note: Adding books is a bit hit and miss at the moment. You *should* be able to do it, but if you have problems email me and let me know what you were trying to do. <br>- Gareth</p>	
	</div>
	
	<div class="columnRight column">	
  		 <div class="infoBox">
	  		 <h3>Temporarily Unavailable</h3>
	  		 <p>Adding books is temporarily disable while maintenance is in progress.<br><br> Come back later, y'all.</p>
  		 </div>

		<span id="maintenanceDiv" ng-show="false">	
		  <h3>Search for a book to add</h3>
		  <p>NOTE: until I can automate the check, can you please check a book doesn't already exist before adding it? Thanks!</p>
  				<h4>Search by Name / Author / Isbn:</h4>
		 <div class="searchWrap" ng-show="false">
		 	<form ng-submit="searchBooks()">
		 		<input ng-model="searchString" class="form-control form-control-small" placeholder="Search for a book">
		 		<button type="submit" class="btn" ng-click="searchBooks()">Search</button>
		 	</form>
		 </div>
		 <div ng-show="isLooking" class="loading"><img src="/imgs/brand/logo_line.svg" style="" class="logo"> Searching...</div>
 
 
		 <div ng-repeat="book in dataSearch" ng-show="hasData"  style="width: 100%;  padding: 1em; background: #f5f5f5; border-radius: 4px; margin: 1em 0;">
			<div class="bookRpt group" style="  border-bottom: 1px solid #eee; margin-bottom:4px;">
				<div style="min-width: 100px;float: left; margin-right: 10px; width: 14%;vertical-align: top;">
					<img src = "{{book.SmallImage.URL}}" style="width: 75px;">
				</div>
				<div style="display:inline-block; width: 65%; vertical-align: top;">
					<h3 style="margin: 4px 0;">{{book.ItemAttributes.Title}}</h3>
					<h5 class="bookSubtitle">by {{book.ItemAttributes.Author}}</h5>
				</div>
				<div style="display: inline-block; width: 15%; vertical-align: middle;">
		  			<a href="/#/addbook/{{book.ASIN.0}}" class="btn">Select</a>
				</div>
			</div>
		</div>
		</span>
	</div><!-- columnright -->
</div><!-- the content -->
		 
 

</div>

</div>