<h4>Guidelines for books &amp; places</h4>
		<h3>What places should I tag?</h3>
	<p>1) Can you visit it, or the remains of it? <br>2) More specific is better. The system will automatically add country tags for you, so unless the book is set in a general area or country, go ahead and add the city/town/village/footpath... For example, 'Tuscany' is better than 'Italy', and 'Florence' is even better again. Local names ('Firenze') should also work. Because country tags are automatically added, you wouldn't need to enter 'Firenze' AND 'Italy' - just 'Firenze' is fine.</p>
	<hr>
	<ul class="list" style="margin-left:0;">
	<li><strong class="icon-smile iconLabel fsGreen">YES:</strong> Real places. Ideally as specific as possible. (It's ok to add multiple places)</li>
	<li><strong class="icon-smile iconLabel fsGreen" >YES:</strong> Historical places that still exist, but under a different name (eg. Tokyo was called Edo once apon a time)</li>
	<li><strong class="icon-smile iconLabel fsGreen">YES:</strong> If there's no specific location, but a book is set in a general area, that's ok too. </li>
	<li><strong class="icon-smile iconLabel fsGreen">YES:</strong> Fictional places based on real places (add the 'real' place). This means that if the name of a village was changed but it's clear what the real village is (or the author has said), then it's worthy of adding. (Common sense should win here - you shouldn't have to be a super sleuth to figure it out). </li>
	<li><strong class="icon-smiley-meh iconLabel fsOrange">MAYBE:</strong> Non-fiction. Please consider before adding. The intent of the site is to collect *fictional* books as because there's heaps of other places out there for finding guide books etc. However, some books such as memoirs or travel narratives are useful additions as they have a 'story like' quality.   </li>
	<li><strong class="icon-smiley-frown iconLabel fsRed">NO:</strong> Made up places. Hogwarts is not a valid place, and you can't add it.</li>
	</ul>


	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">OK</button>
	</div>
 