<h4>Upgrade This Book</h4>
<span ng-hide="(followProcessing) || (isFollowing)">
	<p>Have you read this book? Upgrade it to a 'proper' book here. You will be asked to add or confirm locations, and optionally add any excerpts or other comments.</p>
	<!-- {{amazonId}} -->
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
		<button class="btn ngdialog-button ngdialog-button-primary" ng-href="#/addbook/{{amazonId}}" ng-click="upgradeBook({'bookId': bookId}, {'book': book})" >Let's Do this!</button> <!--ng-click="upgradeBook({'key': {{$scope.bookId}}, {{$scope.amazonId}})" -->
	</div>
</span>

