<h4>Follow {{placeInfo.name}}</h4>
<span ng-hide="(followProcessing) || (isFollowing)">
	<p>Follow this place to be notified when new books are added.</p>
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
		<button class="btn ngdialog-button ngdialog-button-primary" ng-click="followPlace(placeid) ">Follow</button> <!-- && closeThisDialog('addedvalue') -->
		<!-- 	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirm</button> -->
	</div>
</span>

<!-- for when it's in the processinf following -->
<span ng-show="(followProcessing) && (!isFollowing)" class="loading">
	<p>Adding...</p>
</span>

<!-- for when been added -->
<span ng-show="(isFollowing) && (!followProcessing)">
	<p>Following!</p>
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">Close</button>
	</div>
</span>