<h4>Guidelines for books &amp; places</h4>
	<p>FictionSet.in depends on your contibutions. We value thoughtful additions and accurate places - remember that not every book in the world needs to be on fictionset.in</p>
	
	<h3>What books should I add?</h3>
	<p>We want books that capture some of the 'something' of a place For some people a few lines is enough, and for others it's whole passages - Everyone will have a different idea, and that's ok. </p>
 	
	<h3>What places should I tag?</h3>
	<p>1) Can you visit it, or the remains of it? <br>2) Specific locations are better unless the book is set in a general area. 'Tuscany' is better than 'Italy', and 'Florence' is even better again. Local names ('Firenze') should also work. NOTE: The system automatically determines the country of any location you enter (you don't need to enter 'Paris' AND 'France' - just 'Paris' is fine).</p>
	<hr>
	<ul class="list" style="margin-left:0;">
	<li><strong class="icon-smile iconLabel fsGreen">YES:</strong> Real places. Ideally as specific as possible. (It's ok to add multiple places)</li>
	<li><strong class="icon-smile iconLabel fsGreen" >YES:</strong> Historical places that still exist, but under a different name (eg. Tokyo in Japan was known as Edo</li>
	<li><strong class="icon-smile iconLabel fsGreen">YES:</strong> If there's no specific location, but a book is set in a general area, that's ok too. </li>
	<li><strong class="icon-smile iconLabel fsGreen">YES:</strong> Fictional places based on real places. This means that if the name of a village was changed but it's clear what the real village is (or the author has said), then it's worthy of adding. (Common sense should win here - you shouldn't have to be a super sleuth to figure it out). </li>
	<li><strong class="icon-smiley-frown iconLabel fsRed">NO:</strong> Made up places. Hogwarts is not a valid place, and you can't add it.</li>
	<li><strong class="icon-smiley-meh iconLabel fsOrange">MAYBE:</strong> Non-fiction. Please consider before adding. The intent of the site is to collect *fictional* books as because there's heaps of other places out there for finding guide books etc. However, some books such as memoirs or travel narratives might be useful additions if they have a 'story like' quality.   </li>
	</ul>


	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">OK</button>
	</div>
 