/* ///////// Lists   /////////*/
ul{
	list-style: none;
	list-style-type: none;
}	

.bookList{
	padding: 0;
	margin: 0;	

	li{
			list-style-type: none;
			position: relative;
			width: 31.3%;
			margin: 1%;
			float: left;
 			padding-bottom:28.3%;
 			overflow: hidden;
 			
 			

			@media only screen and (min-width: 0px) and (max-width: 887px) {
			    /* phones */
				width: 100%; 
				padding-bottom: 40%;
				overflow: visible;
				float: none;
				
				padding-bottom: inherit;
				padding-bottom: inherit;
				overflow: visible;
				float: none;
				margin: 1em 0;
				padding-top: 1em;
				position: inherit;
				display: table;
				padding-bottom: .5em;
				//border-bottom: 1px dotted #ccc;
				border-bottom: 1px solid $fsLineGrey;	
				.homeBook & {
				border-bottom: 0px solid transparent;	
					
				}
			}

			@media only screen and (min-width: 888px) and ( max-width: 2399px) {
			    /* tablet */
				width: 48%; 
				padding-bottom:29%;

			}

 		}
	
	.imgWrap{
			display: table-cell;
			display: inline-block;
 			width: 29%;
			height: 100%;
			vertical-align: top;
 			overflow: hidden;
 			position: absolute;
			
			/*
transition: all .5s ease;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
				position: relative;
				&:hover{
					transform: rotateY(180deg);
					-webkit-backface-visibility: hidden; 
					backface-visibility: hidden;
				}
*/


			
						@media only screen and (min-width: 0px) and (max-width: 887px) {
						position: inherit;
						overflow: visible;
						height: auto;
						width: 12%;
						}
						
/*
			.front, .back {
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
			  -o-backface-visibility: hidden;
				backface-visibility: hidden;
				}
			.back{
			position: absolute;
			top: 0;
			left: 0;
			 width: 100%;	
			 height: 300px;
	-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
	  -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
		z-index: 1;
		background: #f8f8f8;
			 }
			.front{
			 width: 100%;	
			z-index: 2;
			position: absolute;
			top:0; 
			left: 0;	
			}
*/
			
			a{
			 width: 100%;	
			 display: inline-block;
			 margin: 0 auto;
/* 			 text-align: center; */
			padding-right: 3px;
			

			 img{
				 width: 100%;
				 box-shadow: 1px 1px 3px rgba(0,0,0,.3);
				 /* 	max-height: 100%; */
						@media only screen and (min-width: 0px) and (max-width: 887px) {
						box-shadow: none;
						}
			 }
			
			}
			
		}
	
	.theContent{
		display: table-cell;
		display: inline-block;
		width: 70%;			
		vertical-align: top;
		padding: 0 1em;
		position: absolute;
		left: 30%;
		height: 100%;
		overflow: hidden;
		
					@media only screen and (min-width: 0px) and (max-width: 887px) {
					position: inherit;
					overflow: visible;
					height: auto;
					width: 87%;		
					padding-bottom: 1em;			 
					}
		h3{}
		h5{}
	}
	
	&.currentBooks, &.requestedBooks{//for the addbook search interface
		padding: 2px 10px 10px;
		background: $fsLightGrey;
		border-radius: 4px;
		margin: -2px 0 1em 0;
		.listItem{
			position: relative;
		}
		.imgWrap{
			display: inline-block;
 			width: 40px;
			height: inherit;
			vertical-align: top;
 			overflow: hidden;
 			position: inherit;
		}
		.theContent{
			display: inline-block;
			width: 90%; 
			vertical-align: top;
			padding: inherit;
			//position: inherit;
			left: 50px;
			height: inherit;

			h5{font-size: 1em;
				margin: 0;
				color: $fsBlack;
			}
		}
		
	}
	
	&.requestedBooks{
		background: transparent;
		padding: 0;
		border-radius: inherit;
		margin: 0;
		.bookItem{
			/* border-top: 1px solid #ddd; */
			padding-top: .5em;
			font-size: 16px;
			background: #eee;
			margin: 2em 0;
			border-radius: 4px;
			box-shadow: 0px 0px 5px rgba(0,0,0,.2);
		}
		.imgWrap{
			width: 15%;
			//float: left;
			margin-top: -12px;
			margin-bottom: -8px;
		}
		.theContent{
			width: 52%;
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-left: 1em;
			left: inherit;
			.bookInfo{
				margin-top: .5em;
			}
			.sectionAddedBy{
				margin-top: .5em;;
				padding-top: 0;
			}
			h3{}
			h5.bookSubTitle{ color: $fsGrey;
				padding-bottom: 1em;
				border-bottom: 1px dotted #aaa;
			}
		}
		.socialContent{
			width: 30%;
			display: inline-block;
			height: 100%;
			//background: #f3f3f3;
			padding: 10px;
			//padding-top: 5em;
			margin-top: -.5em;
			position: absolute;
			background: $fsLineGrey;
			right: -1em;
			border-radius: 0 5px 5px 0;

			.userComment{
				display: inline-block;
			}

			.commentWrap{
				padding-top: .5em;
				.sectionAddedBy{
					margin-top: 0;
					padding-top: 0;
					font-size: inherit;
				}
			}
			.btnWrap{
				background: #d5d5d5;
				//border-bottom: 1px solid #eee;
				margin: -10px;
				//padding: 1em;
				border-top-right-radius: 5px;
				
				.btn.hollow{
					padding: 1.5em;	
					border: 0px solid white;
					border-bottom: 1px solid #eee;
					margin: 0;
					border-radius: 0px;
					font-size: 1em;
					&:first-child{
						border-top-right-radius: 5px;
					}
				
					&.btnAdd{
						color: $fsLightGrey;
						background: lighten($fsBlack, 7%);
						&:hover{
							background: $fsBlack;
						}
					}
				}
			}
			.btn.hollow{
				//THESE BITS ALIGN IT TO THE BOTTOM
				//position: absolute;
				//bottom: 0;
				//border-bottom-width: 0px;
				//border-right-width: 0px;
				//border-radius: 0px 0 4px 0;
				//right: -16px;

				display: block;
				margin: .5em;
				&:hover{
					background: $fsBlack;
					color: $fsLightGrey;
				}
			}
			
		}
			//SMALL VERSION
		@media only screen and (min-width: 0px) and (max-width: 887px) {
				.socialContent{
				position: relative;
				width: 100%;
				display: block;
				border-top: 1px solid $fsLineGrey;
				padding-top: .5em;
				margin-top: .5em;
				padding-bottom: 0;
				right: 0;
				.btnWrap{
						border-radius: 0 0 5px 5px;
						overflow: hidden;
						a{
							border-radius: inherit;
						}
						.btn.hollow{
							border-bottom: 1px solid #666;	
							border-radius: 0;
							color: $fsLightGrey;
							background: lighten($fsBlack, 7%);
							&:hover{
								background: inherit;
							}
							&:first-child{
								border-radius: 0;
							}
							&:last-child{
							border-bottom: 0px solid #fff;	
							}
						}
					}
				}
				.theContent{
					width: 70%;
					margin-left: .5em;
					
					h3{
						font-size: 1.2em;
					}
				}
				.imgWrap{
					width: 20%;
					margin-top: -1em;
					margin-bottom: -8px;
					margin-left: .5em;
				
					img{
						box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3); 
					}
				}
			}

			

	}
}
