/////////////////////
// signup and login
/////////////////////

.userForm{
	width: 600px;
	background: #eee;
//	padding: 10px;
	margin: 0 auto;
	
	fieldset{
		border: 0px solid #fff;
	
		.formField{
			background: transparent;
		}
	}
	
	.loginHead{
		//height: 50px;
		font-size: 1.5em;
		line-height: 50px;
		background: rgba(0,0,0,.05);
		padding: 10px;		
		
	}
	
	
	&.loginFacebook{
		background: #3391f6;
		color: #fff;
		margin-bottom: 8px;
		box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	}

	&.loginGoogle{
		background: #F6C733;
		color: #fff;
		margin-bottom: 8px;
		box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	}

	
}


.formGroup{
	margin: 2em auto;
	padding: .5em;
	&.loginForm{
		width: 500px;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,.4);
		button.btn{
				padding: .5em 1em;
				font-size: 1em;
				border: 0px solid white;
				width: 40%;
				span{
					&:before{
						font-size: 1.2em;
						margin-right: .5em;
						//line-height: 1.2em;
						vertical-align: top;
					}
				}
				&.loginFacebook{
					background: #428bca;
				}
				&.loginGoogle{
					background: #e05348;
				}
				&.loginEmail{
					width: 90%;
				}		
		}
		.loading{
			font-style: italic;
		}
			
		.dialogHead{
			text-align: center;
			background: #323a45;
			//background: #0D1B2D;
			border-radius: 3px 3px 0 0;
			margin: -9px -9px 0;
			height: 50px;
			.dialogLogo{
				//width: 50px;
				margin: 0 auto;
				height: 50px;
				border-radius: 80px;
				background: #323a45;
				width: 60px;
				height: 65px;
				top: -10px;
				padding-top: 12px;
 				margin-top: 0px;
				/* border: 5px solid white; */
				/* box-shadow: 0px 0px 5px rgba(0,0,0,.4); */
				/* background: #222; */
				line-height: 70px;
				/* border: 2px solid #23252F; */
				img{
					width: 30px;
					height: auto;
					top: 0;
					line-height: 70px;
				}
			}
		}
		h3.groupHead{
			/* text-transform: uppercase; */
			/* color: #999; */
			font-size: 1em;
			text-align: center;
		}
		.socialLoginWrap{
			text-align: center;

		}
		.divider{
			height: 20px;
			margin-top: 40px;
			text-align: center;
			border-top: 1px solid #eee;
			width: 90%;
			margin: 40px 5% 0;
			.divideOr{
				background: #eee;
				width: 40px;
				height: 40px;
				border-radius: 20px;
				display: inline-block;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				line-height: 40px;
				position: relative;
				top: -20px;
				text-transform: uppercase;
				color: #999;
				font-style: italic;
				font-size: .75em;
				font-weight: 500;
			}
		}
	.emailLoginForm{
		border: 0px solid white;
		margin: 0;
		text-align: center;
		fieldset{
			border: 0px solid white;
		}
		.formField.group{
			text-align: left;
			background: #fff;
			margin: 0;
//			padding: .5em 0;
			padding: .5em 1em;
			label{
				font-size: .75em;
				color: $fsGrey;
				font-style: italic;
			}
			.inputStd{
				width: 100%;
				border: 1px solid #fff;
				box-shadow: 1px 1px 3px -1px rgba(0,0,0,.2) inset;
				background: #f2f2f2;
				outline: none;
				&:focus{
					border: 1px solid #bbb;
					outline: none;
					background: #fff;
				}
			}
			.roundedTwo label{
				float: right;
				margin-right: 4px;
			}
		}
		
	}
	}
	
	&.signupLink{
		width: 500px;
		background: transparent;
		text-align: center;
		color: #fff;
		margin: 0 auto;
		a{
			color: #52C4DF;
		}
	}
}


.pageViewContainer{  //on html.
	&.loginPage{
	//background: url(http://api.tiles.mapbox.com/v3/thirdman.k07mfne9/-2.69531,4.75844,2/1200x1000.png) no-repeat center top fixed;
	background: url(/imgs/bg_world_dark.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   
	   	body{
		   	background: transparent;
	   	}
	}
}