 <div class="theContainer">
  <div class="contentWrap">
	<div class="bookDetail">
		<div class="titleBlock group">
			<h2 class="bookTitle">About FictionSet.in</h2>
 		</div>
 
	<div class="theContent contentText" >

			<div class="contentImg imgWrapCenter"><img src="https://c1.staticflickr.com/1/12/96724309_985b8acd3f.jpg" class="contentImgCircle"></div>
			<p>Fictionset.in tackles just one of the ways to find new books to read, by organising find novels by where they are set. This means that you could read a pile of books that are set in <a href="#/place/2988507">Paris</a> if you wanted to. </p>
			<p>Why? For fun, interest, or if perhaps if you're planning a visit it might help you understand something of the 'soul' of the place, like a guidebook and map will help you with the layout of it.</p>
			<h3>Between the lines</h3>
<p>As anyone who has satisfied curiosity by taking a peek at a guidebook's notes on their hometown knows, places are more than just a list of sights to see and historical points of interest. The essence of place is found in the people who inhabit it, and the stories that happen there - a fountain is just a fountain until you know it's where your grandparents first met. In novels, we meet the stories that bring a place to life. </p>

<p>Since forever we have learned more from stories than we have in classrooms. Stories have a way of dragging us in, making subjects and places come alive. In the same way that we learn a little about ideas on morality and justice when we read <a href="#/book/-JTVtEFxWghzkyJNe74g">Les Miserables</a>, we also absorb something of the places and locations where books are set.</p>

<p>So if you want to know what Rome is really like you don't look up a guidebook, you ask your friends who have been there. They'll tell you the story of when <em>"it was so hot that the sweat stuck my shirt to my back so instead of seeing the Trevi fountain we got a drink in this small bar in a street I don't remember, but it had a really... "</em> (etc etc). Fictionset.in helps you find those stories, except that they're by people who are good at writing.</p>

<p>Have fun.</p>

			<div class="contentImg imgWrapCenter"><img src="https://c4.staticflickr.com/4/3900/14211796917_64a93edb52_n.jpg" class="contentImgCircle"></div>

			<h3>Future Plans</h3>

			<p><strong>Future plans are in the future :-)</strong></p> 
			<ul class="list">
			
				<li class="uncompleted icon-square-line">Write this list to be better and more comprehensive</li>
				<li  class="uncompleted icon-square-line">Notifications: get notified when there are updates/additions to the places and collections you're following.</li>
				<li class="uncompleted icon-square-line">Connect your account to Goodreads. Uf you have a goodreads account this will allow you to save books form here to your bookreads (read, reading etc), and to bring books you've read to fictionset.in</li>
				<li class="uncompleted icon-square-line">Requests/nominations: You'll be able to nominate books you've heard about, but haven't read. Kind of like a 'suggested reading list' if you're out of ideas, and a way to prompt additions to the site.</li>	 
				<li class="uncompleted icon-square-line">Kindle pricing & links</li>
				<li class="uncompleted icon-square-line">Location Images: I want to hook up images so that each place (eg. photos of Barcelona) has some atmosphere and life. This is a bit of a job though so will probably come later</li>
				<li class="completed icon-check-mark-2">Collections: users can add books to cutom collections</li>
				<li>...and lots more.</li>
			</ul>
			<p><strong>Structure & Backend</strong></p>
			<ul class="list">
				<li class="uncompleted icon-square-line">Better (and more fun) achievements. Get (totally useless, but fun nonetheless) awards for doing things such as adding books, having your collections followed, adding suggestions.</li>
				<li class="uncompleted icon-square-line">Tagging. So you can identify books in different ways (eg. historical). Ideally these will also be auto generated based on external information</li>
				<li class="uncompleted icon-square-line">Site wide search</li>
				<li class="uncompleted icon-square-line">Rebuild the login/authentication process to be simpler</li>
				<li class="uncompleted icon-square-line">Fix up the site on mobile and tablet sizes</li>
				<li class="uncompleted icon-square-line">...and lots more.</li>
			</ul>
			
			<hr>
			Image credits:<br>
			<a href="https://www.flickr.com/photos/moriza/96724309">Mo Riza</a>, <a href="https://www.flickr.com/photos/hypotekyfidler/14211796917">Jan Fidler</a><br>
						
		</div>
	</div>
</div>





</div>
