<div class="fullWidth homeFeat featCollection">
	<div class="theContainerHead">
		<span ng-repeat="book in theCollection.books " class="headerBookItem">
 			<img ng-src="{{book.coverUrl}}" class="bookImg" >
 		</span>
 	</div>
</div>

<div class="adminSection fullWidth"  >
	<div class="theContainerHead">
		<div class="column100">
			<button ng-click="editorEnabled=!editorEnabled" ng-hide="editorEnabled" class="btn fsBtn  editBtn inline floatRight">Edit Collection</button>
			<button ng-show="editorEnabled" ng-click="dialogDelete(theCollection.$id)" class="btn fsBtn fsRed editBtn inline floatRight">Delete Collection</button> <button ng-click="editorEnabled=!editorEnabled; ; updateOtherCollection(theCollection.$id)" ng-show="editorEnabled" class="btn fsBtn  editBtn inline floatRight">Done Editing</button>
					<h3>Admin</h3>
		</div>
		<div class="columnWrap">
				<div class="column column50">
					<p>You are an owner of this collection.</p>
					<div ng-show="editorEnabled" class="formWrap">
 						<div class="formFieldWrap group editModeItem" ng-show="editorEnabled">
 							<label>Title</label>
 							<input type="text" ng-model="theCollection.title" class="inputLarge" />
						</div>
 						<div class="formFieldWrap group editModeItem" ng-show="editorEnabled">
 							<label>Description</label>
						 	<textarea ng-model="theCollection.description"  class="inputLarge" ng-show="true" ></textarea>
						</div>
						<div class="formFieldWrap group " ng-show="editorEnabled">
						 	<label for="isPublic">Public:</label> 
							<div class="roundedTwo" id="isPublic">
									<input type="checkbox" value="None" id="roundedTwo" name="check"  ng-model="theCollection.isPublic"  />
									<label for="roundedTwo"></label>
							</div>   
							  <p class="subTitle">Can this collection be followed by other users</p>
						 </div>			 
					</div>

				</div>
				<div class="column column50">
					 <p>
					 </p>
<!-- 					<p><button ng-show="editorEnabled" ng-click="dialogDelete(theCollection.$id)" class="btn fsBtn fsRed inline">Delete Collection</button></p> -->
				</div>
		</div>
	</div>
</div><!-- ends adminSection -->

 
<div class="theContainer">
	<div class="contentWrap" >
		<div class="titleBlock group">
 			<h2 class="bookTitle">{{ theCollection.title }}</h2>
			<h5 class="bookSubtitle">Collection by {{  theCollection.createdByName }}</h5>
		</div>
		<div class="featBlock featInfo" ng-if="theCollection.description">
			<p class="">{{  theCollection.description }}</p>
<!-- 			<p>{{ bookCount}} Books</p> -->
<!-- 			<p class="">Edited: {{ theCollection.timestamp | date : format : timezone}}</p> -->
<!-- 			<p class="">Public: {{theCollection.isPublic ? 'Yes' : 'No'}}</p> -->
		</div>
	
	    <ul class="bookList">
				 <li ng-repeat="item in theCollection.books  |   filter:filters | orderBy: '-timestamp' " class="listItem">
				        <div class="imgWrap">
				    		<a ng-href="#/book/{{item.bookid}}"><img ng-src="{{item.coverUrl}}" class="bookImg bookImgSmall" ></a>
						</div>
 						<div class="theContent">
		 					<h3 class="bookTitle"><a ng-href="#/book/{{item.bookid}}">{{ item.title  | cut:true:50:' ...' }}</a></h3>
 		 					<p>Added:  {{ item.addedToCollectionDate | date : format : timezone}}</p>
<!-- 		 					<p ng-show="item.description">{{  item.description | to_plain |cut:true:180:' ...' }}</p> -->
				            <div class="bookInfo ">
							<!--
	<div class="placeList">
								Places:
										<span ng-repeat="place in item.places" class="aTag"  >
										<a ng-href="#/place/{{place.geonameId}}" ng-class="(place.name==place.countryName) ? 'countryName' : ''" class="placeName">{{place.name}}</a><span ng-if="place.name != place.countryName"> <a href="#/place/{{place.countryName}}" class="placeCountry"><span>{{place.countryCode}}<span></a></span>
									</span>
									
								</div>
-->
 			 	          </div>

				</li>
			</ul>

   <span ng-show="showData">
	   <div ng-hide="(list|filter:searchBar).length" class="emptyContent"><p>No items found</p></div>
   </span>
   
 </div><!-- ends contentWrap -->

			<div class="additionalSection columnWrap">
				<div class="column column50">
					<h4>Follow</h4>
 					<!-- <span ng-if="userAaa"> -->
 							<a href="" ng-click="clickToOpen()" ng-hide="isFollowing" class="followIcon">Follow This Collection</a>
 							<p ng-show="isFollowing" class="followIcon active" >Following {{placeInfo.name}}.  <button class="btn" ng-click="stopFollowing()">Stop Following</button>
 							</p>
 					<!-- 	</span> -->
				</div>

				<div class="column column50">
 				</div>
			</div><!-- ends additonal section -->
 </div> <!-- ends the containser -->

 