 <div ng-if="placeInfo.lng" class="headerFeature headerPlace">
	 <div class="mapImg fullWidth"  style="background-image: url(http://api.tiles.mapbox.com/v3/thirdman.j1o1gjim/{{placeInfo.lng}},{{placeInfo.lat}},5/1200x300.png)"></div>
	 <div class="headImgWrap" >
	 	<img class="headImg" src="{{img.src}}" ng-repeat="img in placeImages | limitTo:2" >
 	 </div>
 	 <div class="featTitle">
	 	 <h1>{{placeInfo.name}}</h1>
 	 </div>
 	 <div class="featSubTitle" ng-if="placeInfo.name != placeInfo.countryName">
 	 	 <span class="countryName">{{placeInfo.countryName}}</span>
 	 </div>
 </div>

	<div class="fullWidth homeFeat">
		<div class="theContainerHead">
		<h2 class="homeTitle">
			<span class="titleHalf">Fiction set in {{placeInfo.name}}<span ng-hide="placeInfo.name">{{placeInfo.$id}}</span></span>
		</h2>
		</div>
	</div>

<div class="theContainer">
<!-- 	<span class="titleHalf"><input class="largesearch" delayed-model="filters.tags" data-delay="50" placeholder=" " value="{{placeid}}"></span> -->

<div class="homeBook booksWrap contentWrap" >
	<div class="loading" ng-show="isLoading"><img src="/imgs/brand/logo_line.svg" style="" class="logo"> loading...</div>
	
    <ul class="bookList">
				 <li ng-repeat="item in thePlace  |   filter:filters | orderBy: '-timestamp' " class="listItem"  
 				 >
				        <div class="imgWrap">
				    		<a ng-href="#/book/{{item.$id}}"><img ng-src="{{item.coverurl}}" class="bookImg bookImgSmall" ></a>
						</div>
						
						<div class="theContent">
		 					<h3 class="bookTitle"><a ng-href="#/book/{{item.$id}}">{{ item.title  | cut:true:50:' ...' }}</a></h3>
		 					<h5 class="bookSubtitle">by {{  item.author }}</h5>
		 					<p ng-show="item.description">{{  item.description | to_plain |cut:true:180:' ...' }}</p>
				            <div class="bookInfo ">
								<div class="placeList">
								Places:
										<span ng-repeat="place in item.places" class="aTag"  >
										<a ng-href="#/place/{{place.geonameId}}" ng-class="(place.name==place.countryName) ? 'countryName' : ''" class="placeName">{{place.name}}</a><span ng-if="place.name != place.countryName"> <a href="#/place/{{place.countryName}}" class="placeCountry"><span>{{place.countryCode}}<span></a></span>
									</span>
									
								</div>
 			 	          </div>

				</li>
			</ul>



   
   
   <span ng-show="showData">
	   <div ng-hide="(list|filter:searchBar).length" class="emptyContent"><p>No items found</p></div>
   </span>
 </div><!-- ends homeBook -->

			<div class="additionalSection columnWrap">
				<div class="column column50">
					<h4>Follow</h4>
 					<!-- <span ng-if="userAaa"> -->
 							<a href="" ng-click="clickToOpen()" ng-hide="isFollowing" class="followIcon">Follow This Place</a>
 							<p ng-show="isFollowing" class="followIcon active" >Following {{placeInfo.name}}.  <button class="btn" ng-click="stopFollowing()">Stop Following</button>
 							</p>
 					<!-- 	</span> -->
				</div>

				<div class="column column50">
 				</div>
			</div><!-- ends additonal section -->



</div> <!-- ends the containser -->

<!--
<label class="item-input-wrapper" id="search-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query" ng-change="search()">
      </label>
-->
      
<div id="photos" class="clearfix group" style="clear: left; width: 100%; background: #eee;">
      <div class="photo" ng-repeat="photo in photos" style="display: inline-block; height: 100px; float: left;">
        <img ng-src="{{ photo.url_s }}" style="height: 100px;">
     </div>
    </div>
    
    
<!--
<div class="group">
 {{placeInfo | json }}
</div>
-->
<!--
<div class="group">
{{flickrPhotoSet | json}}
{{flickrPhotoArray | json}}
	<div ng-repeat="pic in flickrPhotoSet">
		{{pic}}
		
	</div>

</div>
-->

<!--
		<img src="https://farm{{pic.farm-id}}.staticflickr.com/{{pic.server-id}}/{{pic.photo-id}}_{{pic.secret}}_s.jpg">

https://farm1.staticflickr.com/2/1418878_1e92283336_m.jpg
 		<img src="https://farm{{photo.farm-id}}.staticflickr.com/{{photo.server-id}}/{{photo.photo-id}}_{{photo.secret}}_s.jpg">

farm-id: 1
server-id: 2
photo-id: 1418878
secret: 1e92283336
size: m
-->