<div class="theContainer">
	<div class="titleBlock group">
		<h2 class="bookTitle">Book Requests (coming soon)</h2>
	</div>

	<div class="loading" ng-show="isLoading">
		<img src="/imgs/brand/logo_line.svg" style="" class="logo"> Loading&hellip;
	</div>
	
    <div class="contentWrap columnWrap" ng-hide="isLoading">
		<div class="theContent contentText" >
				<p>Requests enable you to suggest a book for other users to review. This is useful if you think a book would fit in fictionset.in but you haven't read it yet.</p>
				<p>It's also a nice way for people to find something new to read.</p>
			<div class="contentImg imgWrapCenter"><img src="https://c1.staticflickr.com/1/12/96724309_985b8acd3f.jpg" class="contentImgCircle"></div>
		</div>
	</div>
     
</div> <!-- ends the containser -->

 
 